.thats-all-folks body {
	background: url(../assets/thats-all-folks.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
	
.final {position:fixed;bottom:-50px;right:-50px;width:400px;height:200px;}